<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="16DTHNhauOnlineConnectionString" connectionString="workstation id=g8-dannglh-bcs.mssql.somee.com;packet size=4096;user id=lehaidang-0509_SQLLogin_1;pwd=1ge2j8jehn;data source=g8-dannglh-bcs.mssql.somee.com;persist security info=False;initial catalog=g8-dannglh-bcs" providerName="System.Data.SqlClient" />
        <add name="16DTHNhauOnlineConnectionString2" connectionString="workstation id=g8-dannglh-bcs.mssql.somee.com;packet size=4096;user id=lehaidang-0509_SQLLogin_1;pwd=1ge2j8jehn;data source=g8-dannglh-bcs.mssql.somee.com;persist security info=False;initial catalog=g8-dannglh-bcs" providerName="System.Data.SqlClient" />
        <add name="d16thn2nhauonlineConnectionString" connectionString="workstation id=g8-dannglh-bcs.mssql.somee.com;packet size=4096;user id=lehaidang-0509_SQLLogin_1;pwd=1ge2j8jehn;data source=g8-dannglh-bcs.mssql.somee.com;persist security info=False;initial catalog=g8-dannglh-bcs" providerName="System.Data.SqlClient" />


        <!--<add name="16DTHNhauOnlineConnectionString" connectionString="Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=123NhauOnline;Data Source=."
            providerName="System.Data.SqlClient" />
        <add name="16DTHNhauOnlineConnectionString2" connectionString="Password=123;Persist Security Info=True;User ID=sa;Initial Catalog=123NhauOnline;Data Source=."
            providerName="System.Data.SqlClient" />
        <add name="d16thn2nhauonlineConnectionString" connectionString="Data Source=.;Initial Catalog=123NhauOnline;Persist Security Info=True;User ID=sa;Password=cntt"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.6.1" />
        <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0" />
        <customErrors mode="Off" defaultRedirect="Homepage.aspx" />
        <pages validateRequest="false" />
        <globalization fileEncoding="utf-8" />
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Homepage.aspx" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="false" />
    </system.webServer>
    <appSettings>
        <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
</configuration>